<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>The curious cat jumped over the fence and startled a bird.</p>
        <p>The curious cat jumped over the fence and startled a bird.</p>
        <p>The curious cat jumped over the fence and startled a bird.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>